<html>
    <body>
        <font face="Microsoft YaHei UI" size="12" color="blue"> <i> QSC 2 Naive Server(Unaccomplished) by 23-CYH </i> </font>
        <hr>
        <div>
        <p> 已善用搜索, 仍然不会实现 api 的请求和相应采用 JSON
        <form method="POST">
            已经完成的功能:  <input type="text", name="index"/>
            <input type="submit" value="前往"/> <div>
        </form>
        <p> 1.检查网络连通性 <div> </font> </p>
        <p> 2.用户注册 <div> </font> </p>
        <p> 3.用户登录 <div> </font> </p>
        <p> 4.用户手动签到(今天签到过处理) <div> </font> </p>
        <hr>
    </body>
</html>